/*font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/
body {
  font-family: "Inter", sans-serif;
  background-color: var(--black);
  font-size: 16px;
  line-height: 25.6px;
  color: var(--lightText);
  font-weight: 400;
}

.acquaintance-mobile {
  display: none;
}

.solving__inner-mobile {
  display: none;
}

.header {
  position: relative;
  background-image: url(/img/index-header-img/Lights-Group.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  padding-bottom: 158px;
}

.header__content {
  margin-top: 144px;
}

.header__content-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__content-title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
  max-width: 362px;
}
.header__content-title span {
  display: inline-block;
  background-color: var(--orange);
  background: var(--gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__content-box-desc {
  font-family: "Montserrat", sans-serif;
  line-height: 22px;
  font-size: 18px;
  max-width: 275px;
  margin: 27px 0 0 0;
}

.header__content-consultation {
  max-width: 300px;
  text-align: end;
}

.header__content-consultation-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 40px;
}
.header__content-consultation-title span {
  text-transform: uppercase;
  display: inline-block;
  background-color: var(--orange);
  background: var(--gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__content-consultation-inner {
  display: flex;
  justify-content: space-between;
}

.header__content-consultation-inner-mobile {
  display: none;
}

.header__content-consultation-inner-titile {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
}

.header__content-consultation-inner-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.header__content-consultation-inner-text:not(:last-child) {
  margin-bottom: 30px;
}

.header__content-form {
  margin-top: 60px;
}

.header__content-form-mobile {
  display: none;
}

.acquaintance {
  padding-top: 94px;
}

.acquaintance__title {
  margin-bottom: 70px;
}

.acquaintance__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.acquaintance__inner::after {
  content: "";
  background-image: url(/img/index-founder/purpleBall.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  position: absolute;
  width: 30px;
  height: 30px;
  filter: blur(1.1px);
  right: 7px;
  bottom: 138px;
  z-index: 5;
}

.acquaintance__video-title {
  max-width: 370px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  position: absolute;
  top: -120px;
}
.acquaintance__video-title span {
  display: inline-block;
  background-color: var(--orange);
  background: var(--gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.acquaintance__video-video {
  transition: all 1s;
  opacity: 0.5;
  cursor: pointer;
  height: 265.2px;
}

.acquaintance__video-item {
  position: relative;
}
.acquaintance__video-item:hover .acquaintance__video-video {
  opacity: 1;
}
.acquaintance__video-item:hover .acquaintance__video-btn path {
  fill: var(--white);
}
.acquaintance__video-item:hover .acquaintance__video-btn circle {
  transition: stroke 1s;
  stroke: var(--blue);
}
.acquaintance__video-item:hover .acquaintance__video-btn svg {
  transition: background-color 1s;
  background-color: var(--blue);
  box-shadow: 0px 4px 30px -5px rgba(180, 200, 247, 0.5), inset 0px 4px 67px rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

.acquaintance__video-play {
  position: absolute;
  bottom: 0;
  right: -200px;
}

.acquaintance__video-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.acquaintance__video-text {
  cursor: pointer;
  max-width: 170px;
}

.acquaintance__founder-item {
  position: relative;
}
.acquaintance__founder-item .acquaintance__founder-img {
  position: relative;
  right: -100px;
  bottom: 0;
}
.acquaintance__founder-item::after {
  content: "";
  width: 308px;
  height: 308px;
  background-color: #ee3e34;
  border-radius: 50%;
  opacity: 0.3;
  filter: blur(200px);
  position: absolute;
  right: 60px;
  bottom: -150px;
}
.acquaintance__founder-item::before {
  content: "";
  width: 308px;
  height: 308px;
  background-color: #833ab4;
  border-radius: 50%;
  opacity: 0.3;
  filter: blur(200px);
  position: absolute;
  right: -100px;
  bottom: 50px;
}

.acquaintance__founder-text {
  position: absolute;
  bottom: 255px;
  right: 145px;
  max-width: 200px;
}

.about {
  padding: 150px 0;
}

.about__text {
  margin: 70px 0 50px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  max-width: 389px;
  text-align: left;
}
.about__text span:first-child {
  display: inline-block;
  background-color: var(--orange);
  background: var(--gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about__text span {
  color: var(--orange);
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__item-number {
  display: inline-block;
  background-color: var(--orange);
  background: var(--gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 10px;
}

.about__item-text {
  max-width: 227px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.solving {
  padding-bottom: 144px;
}

.solving__title {
  margin-bottom: 70px;
}

.solvoning__descs {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.solving__info {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  max-width: 460px;
}
.solving__info span {
  display: inline-block;
  background-color: var(--orange);
  background: var(--gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.solving__info-dec {
  max-width: 320px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.solving__inner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.solving__info-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}

.solving__info-desc:first-child {
  padding-right: 30px;
}

.solving__item--flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  justify-content: space-between;
  gap: 23px;
}

.solving__text {
  max-width: 241px;
  padding-left: 30px;
  position: relative;
}
.solving__text::before {
  content: "";
  width: 20px;
  height: 2px;
  background: var(--gradient);
  position: absolute;
  left: 0;
  top: 12px;
}

.solving__text-margin:not(:last-child) {
  margin-bottom: 20px;
}

.solving__additional {
  margin: 70px 0 50px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.solving__additional span {
  display: inline-block;
  background-color: var(--orange);
  background: var(--gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solving__additional-inner {
  display: flex;
  justify-content: space-between;
}

.solving__additional-item {
  max-width: 300px;
  padding-top: 90px;
  position: relative;
}

.solving__additional-img {
  position: absolute;
  top: 0;
  left: 0;
}

.solving__additional-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.solving__additional-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 1150px) {
  .header__top {
    padding-left: var(--paddingLR);
    padding-right: var(--paddingLR);
  }
  .header__content {
    padding-left: var(--paddingLR);
    padding-right: var(--paddingLR);
  }
  .acquaintance {
    padding-left: var(--paddingLR);
    padding-right: var(--paddingLR);
  }
  .acquaintance-mobile {
    padding-left: var(--paddingLR);
    padding-right: var(--paddingLR);
  }
  .about {
    padding-left: var(--paddingLR);
    padding-right: var(--paddingLR);
  }
  .solving {
    padding-left: var(--paddingLR);
    padding-right: var(--paddingLR);
  }
}
@media (max-width: 1050px) {
  .header {
    background-image: url(/img/index-header-img/Lights-Group-middle.png);
  }
  .header__content {
    margin-top: 90px;
  }
  .header__content-inner {
    flex-direction: column;
  }
  .header__content-consultation {
    max-width: 100%;
  }
  .header__content-consultation {
    text-align: center;
  }
  .header__content-consultation-inner {
    justify-content: space-around;
    margin: 0 auto;
    max-width: 600px;
  }
  .header__content-consultation-inner-titile,
.header__content-consultation-inner-text {
    max-width: 135px;
    text-align: left;
  }
  .header__content-box-title {
    margin-bottom: 90px;
  }
  .header__content-title {
    max-width: 100%;
  }
  .header__content-box-desc {
    max-width: 100%;
  }
  .header__content-form {
    margin-top: 130px;
  }
  .header__content-form-mobile {
    display: block;
  }
  .header__content-form-inner {
    display: flex;
    width: 100%;
  }
  .header__content-form-inner::before {
    content: "";
    width: 200px;
    height: 200px;
    background-color: var(--orange);
    border-radius: 50%;
    opacity: 0.3;
    filter: blur(100px);
    position: absolute;
    bottom: -100px;
    left: 30%;
  }
  .header__content-form-mobile--darkblue {
    background-color: var(--darkBlue);
  }
  .about__inner {
    flex-wrap: wrap;
    gap: 15px;
  }
  .or1 {
    order: 2;
  }
  .or2 {
    order: 1;
  }
  .or3 {
    order: 3;
  }
}
@media (max-width: 940px) {
  .solving__additional-inner {
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (max-width: 880px) {
  .solving__inner-mobile-content-btn2 {
    display: none;
  }
  .solving__inner {
    display: none;
  }
  .solving__inner-mobile {
    display: block;
  }
  .solving__inner-items {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 30px;
  }
  .solving__inner-mobile-btn {
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    display: flex;
    line-height: 140%;
    color: var(--darkGrey);
    border: 1px solid #373844;
    padding: 10px 16px;
    justify-content: center;
    text-align: left;
  }
  .solving__text {
    max-width: 80%;
  }
  .solvoning__descs {
    flex-wrap: wrap;
  }
  .solving__info {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    max-width: 288px;
  }
  .solving__title {
    margin-bottom: 40px;
  }
  .solving__text:not(:last-child) {
    margin-bottom: 15px;
  }
  .solving__additional {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 40px 0 30px 0;
  }
  .solving__inner-mobile-btn--active {
    color: inherit;
    border: none;
    position: relative;
    background: rgb(57, 57, 47);
    background: linear-gradient(141deg, rgb(57, 57, 47) 0%, rgb(26, 29, 35) 15%);
  }
  .solving__inner-mobile-btn--active::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    background: linear-gradient(195deg, #fd8787 0, #ffd8a0 66%, #dba6ff 100%);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-size: 400%;
    z-index: -1;
    -webkit-animation: animate 10s linear infinite;
            animation: animate 10s linear infinite;
  }
  @-webkit-keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  @keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}
@media (max-width: 501px) {
  .header {
    background-image: url(/img/index-header-img/Lights-Group-mobile.png);
    background-size: cover;
    background-position: 0 -10vh;
  }
  .header__content-box-title {
    margin-bottom: 45px;
  }
  .header__content-title {
    font-size: 36px;
    max-width: 272px;
    line-height: 43px;
  }
  .header__content-title span {
    font-weight: 900;
  }
  .header__content-box-desc {
    max-width: 271px;
    margin-top: 15px;
  }
  .header__content-consultation-title {
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    max-width: 272px;
  }
  .header__content-consultation-title span {
    text-transform: lowercase;
  }
  .header__content-consultation-inner {
    display: none;
  }
  .header__content-consultation-inner-mobile {
    display: block;
  }
  .header__content-consultation-inner-mobile-box {
    display: flex;
    justify-content: space-between;
    max-width: 265px;
    margin-top: 15px;
  }
  .header__content-consultation-inner-mobile-text {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    padding-left: 15px;
    position: relative;
  }
  .header__content-consultation-inner-mobile-text::before {
    content: "";
    height: 1px;
    width: 10px;
    background-image: url(/img/index-header-img/smallline.png);
    position: absolute;
    top: 50%;
    left: 0;
  }
  .header__content-form-inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
  }
  .header__content-form-inner::before {
    content: "";
    width: 150px;
    height: 150px;
    background-color: var(--orange);
    border-radius: 50%;
    opacity: 0.3;
    filter: blur(100px);
    position: absolute;
    bottom: -100px;
    left: 30%;
  }
  .acquaintance {
    display: none;
  }
  .acquaintance-mobile {
    padding-top: 80px;
    display: block;
  }
  .acquaintance-mobile__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .acquaintance-mobile__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    max-width: 288px;
    margin: 40px 0 30px 0;
  }
  .acquaintance-mobile__text span {
    display: inline-block;
    background-color: var(--orange);
    background: var(--gradient);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .acquaintance-mobile__founder-name {
    max-width: 151px;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    right: 22.5%;
  }
  .acquaintance-mobile__video-play {
    position: relative;
  }
  .acquaintance-mobile__video-video {
    width: 250px;
  }
  .acquaintance-mobile__video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  .acquaintance-mobile__video-btn svg {
    background-color: var(--blue);
    border-radius: 50%;
  }
  .acquaintance-mobile__video-btn circle {
    stroke: var(--blue);
  }
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .about__text {
    max-width: 263px;
    margin: 40px 0 20px 0;
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 420px) {
  .header__content-title {
    font-size: 36px;
    line-height: 44px;
  }
  .header__content-form-inner {
    bottom: 150px;
  }
  .header__content-form-inner::before {
    content: "";
    width: 100px;
    height: 100px;
    background-color: var(--orange);
    border-radius: 50%;
    opacity: 0.3;
    filter: blur(100px);
    position: absolute;
    bottom: -100px;
    left: 30%;
  }
  .acquaintance-mobile__video-video {
    width: 230px;
  }
}
@media (max-width: 413px) {
  .header__content-form-inner {
    bottom: 203px;
  }
  .acquaintance-mobile__video-video {
    width: 200px;
  }
  .acquaintance-mobile__founder-name {
    right: 16%;
  }
}
@media (max-width: 376px) {
  .header__content-form-inner {
    bottom: 200px;
  }
  .acquaintance-mobile__video-video {
    width: 200px;
  }
  .acquaintance-mobile__founder-name {
    right: 18%;
  }
}
@media (max-width: 361px) {
  .header__content-form-inner {
    bottom: 200px;
  }
}