@import "../1-helpers/mixin";
/*font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/

body {
   font-family: "Inter", sans-serif;
   background-color: var(--black);
   font-size: 16px;
   line-height: 25.6px;
   color: var(--lightText);
   font-weight: 400;
}
.acquaintance-mobile {
   display: none;
}
.header {
   position: relative;
   background-image: url(/img/index-header-img/Lights-Group.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   min-height: 100vh;
   padding-bottom: 158px;
}

.header__content {
   margin-top: 144px;
}

.header__content-inner {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   //&::before {
   //@include bgLight(280px, 280px, var(--orange), 0.3, blur(100px));
   //   top: 20%;
   //   left: 40%;
   //}
}

.header__content-title {
   font-size: 48px;
   line-height: 58px;
   font-weight: 400;
   max-width: 362px;
   span {
      @include textGradient(var(--gradient));
   }
}
.header__content-box-desc {
   font-family: "Montserrat", sans-serif;
   line-height: 22px;
   font-size: 18px;
   max-width: 275px;
   margin: 27px 0 0 0;
}

.header__content-consultation {
   max-width: 300px;
   text-align: end;
}
.header__content-consultation-title {
   font-size: 18px;
   line-height: 22px;
   font-weight: 500;
   margin-bottom: 40px;
   span {
      text-transform: uppercase;
      @include textGradient(var(--gradient));
   }
}
.header__content-consultation-inner {
   display: flex;
   justify-content: space-between;
}
.header__content-consultation-inner-mobile {
   display: none;
}

.header__content-consultation-inner-titile {
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   text-align: right;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   margin-bottom: 6px;
}
.header__content-consultation-inner-text {
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 20px;
}
.header__content-consultation-inner-text:not(:last-child) {
   margin-bottom: 30px;
}
.header__content-form {
   margin-top: 60px;
}
.header__content-form-mobile {
   display: none;
}

.acquaintance {
   padding-top: 94px;
}
.acquaintance__title {
   margin-bottom: 70px;
}

.acquaintance__inner {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   position: relative;
   &::after {
      content: "";
      background-image: url(/img/index-founder/purpleBall.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      position: absolute;
      width: 30px;
      height: 30px;
      filter: blur(1.1px);
      right: 7px;
      bottom: 138px;
      z-index: 5;
   }
}

.acquaintance__video-title {
   max-width: 370px;
   font-size: 24px;
   font-weight: 700;
   line-height: 29px;
   position: absolute;
   top: -120px;
   span {
      @include textGradient(var(--gradient));
   }
}

.acquaintance__video-video {
   transition: all 1s;
   opacity: 0.5;
   cursor: pointer;
   height: 265.2px;
}
.acquaintance__video-item {
   position: relative;
   &:hover {
      .acquaintance__video-video {
         opacity: 1;
      }
      .acquaintance__video-btn {
         path {
            fill: var(--white);
         }
         circle {
            transition: stroke 1s;
            stroke: var(--blue);
         }
         svg {
            transition: background-color 1s;
            background-color: var(--blue);
            box-shadow: 0px 4px 30px -5px rgba(180, 200, 247, 0.5), inset 0px 4px 67px rgba(255, 255, 255, 0.25);
            border-radius: 50%;
         }
      }
   }
}
.acquaintance__video-play {
   position: absolute;
   bottom: 0;
   right: -200px;
}
.acquaintance__video-btn {
   background-color: transparent;
   cursor: pointer;
   border: none;
}
.acquaintance__video-text {
   cursor: pointer;
   max-width: 170px;
}
.acquaintance__founder-item {
   position: relative;
   .acquaintance__founder-img {
      position: relative;
      right: -100px;
      bottom: 0;
   }
   &::after {
      @include bgLight(308px, 308px, #ee3e34, 0.3, blur(200px));
      right: 60px;
      bottom: -150px;
   }
   &::before {
      @include bgLight(308px, 308px, #833ab4, 0.3, blur(200px));
      right: -100px;
      bottom: 50px;
   }
}

.acquaintance__founder-text {
   position: absolute;
   bottom: 255px;
   right: 145px;
   max-width: 200px;
}

.about {
   padding: 150px 0;
}
.about__text {
   margin: 70px 0 50px 0;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   max-width: 389px;
   text-align: left;
   span:first-child {
      @include textGradient(var(--gradient));
   }
   span {
      color: var(--orange);
   }
}
.about__inner {
   display: flex;
   justify-content: space-between;
}

.about__item-number {
   @include textGradient(var(--gradient));
   font-weight: 700;
   font-size: 48px;
   line-height: 58px;
   margin-bottom: 10px;
}
.about__item-text {
   max-width: 227px;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
}
@media (max-width: 1150px) {
   .container {
      padding: 0 15px;
   }
}

@media (max-width: 1050px) {
   .header {
      background-image: url(/img/index-header-img/Lights-Group-middle.png);
   }
   .header__content {
      margin-top: 90px;
   }
   .header__content-inner {
      flex-direction: column;
   }
   .header__content-consultation {
      max-width: 100%;
   }
   .header__content-consultation {
      text-align: center;
   }
   .header__content-consultation-inner {
      justify-content: space-around;
      margin: 0 auto;

      max-width: 600px;
   }

   .header__content-consultation-inner-titile,
   .header__content-consultation-inner-text {
      max-width: 135px;

      text-align: left;
   }
   .header__content-box-title {
      margin-bottom: 90px;
   }
   .header__content-title {
      max-width: 100%;
   }
   .header__content-box-desc {
      max-width: 100%;
   }
   .header__content-form {
      margin-top: 130px;
   }
   .header__content-form-mobile {
      display: block;
   }
   .header__content-form-inner {
      display: flex;
      width: 100%;
      &::before {
         @include bgLight(200px, 200px, var(--orange), 0.3, blur(100px));
         bottom: -100px;
         left: 30%;
      }
   }
   .header__content-form-mobile--darkblue {
      background-color: var(--darkBlue);
   }
   .about__inner {
      flex-wrap: wrap;
      gap: 15px;
   }
   .or1 {
      order: 2;
   }
   .or2 {
      order: 1;
   }
   .or3 {
      order: 3;
   }
}
@media (max-width: 501px) {
   .header {
      background-image: url(/img/index-header-img/Lights-Group-mobile.png);
      background-size: cover;
      background-position: 0 -10vh;
   }
   .header__content-box-title {
      margin-bottom: 45px;
   }
   .header__content-title {
      font-size: 36px;
      max-width: 272px;
      line-height: 43px;
      span {
         font-weight: 900;
      }
   }
   .header__content-box-desc {
      max-width: 271px;
      margin-top: 15px;
   }
   .header__content-consultation-title {
      font-size: 18px;
      line-height: 21px;
      text-align: left;
      max-width: 272px;
      span {
         text-transform: lowercase;
      }
   }
   .header__content-consultation-inner {
      display: none;
   }

   .header__content-consultation-inner-mobile {
      display: block;
   }
   .header__content-consultation-inner-mobile-box {
      display: flex;
      justify-content: space-between;
      max-width: 265px;
      margin-top: 15px;
   }
   .header__content-consultation-inner-mobile-text {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      line-height: 15px;
      text-transform: uppercase;
      padding-left: 15px;
      position: relative;
      &::before {
         content: "";
         height: 1px;
         width: 10px;
         background-image: url(/img/index-header-img/smallline.png);
         position: absolute;
         top: 50%;
         left: 0;
      }
   }
   .header__content-form-inner {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100px;
      &::before {
         @include bgLight(150px, 150px, var(--orange), 0.3, blur(100px));
         bottom: -100px;
         left: 30%;
      }
   }
   .acquaintance {
      display: none;
   }
   .acquaintance-mobile {
      padding-top: 80px;
      display: block;
   }
   .acquaintance-mobile__inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }
   .acquaintance-mobile__text {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      max-width: 288px;
      margin: 40px 0 30px 0;
      span {
         @include textGradient(var(--gradient));
      }
   }

   .acquaintance-mobile__founder-name {
      max-width: 151px;
      font-size: 14px;
      line-height: 17px;
      position: absolute;
      right: 22.5%;
   }
   .acquaintance-mobile__video-play {
      position: relative;
   }
   .acquaintance-mobile__video-video {
      width: 250px;
   }
   .acquaintance-mobile__video-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      svg {
         background-color: var(--blue);
         border-radius: 50%;
      }
      circle {
         stroke: var(--blue);
      }
   }
   .about {
      padding-top: 80px;
      padding-bottom: 80px;
   }
   .about__text {
      max-width: 263px;
      margin: 40px 0 20px 0;
      font-size: 18px;
      line-height: 22px;
      span:nth-child(2) {
         display: inline-block;
      }
   }
}
@media (max-width: 420px) {
   .header__content-title {
      font-size: 36px;
      line-height: 44px;
   }
   .header__content-form-inner {
      bottom: 150px;
      &::before {
         @include bgLight(100px, 100px, var(--orange), 0.3, blur(100px));
         bottom: -100px;
         left: 30%;
      }
   }
   .acquaintance-mobile__video-video {
      width: 230px;
   }
}
@media (max-width: 413px) {
   .header__content-form-inner {
      bottom: 203px;
   }
   .acquaintance-mobile__video-video {
      width: 200px;
   }
   .acquaintance-mobile__founder-name {
      right: 16%;
   }
}
@media (max-width: 376px) {
   .header__content-form-inner {
      bottom: 200px;
   }
   .acquaintance-mobile__video-video {
      width: 200px;
   }
   .acquaintance-mobile__founder-name {
      right: 18%;
   }
}
@media (max-width: 361px) {
   .header__content-form-inner {
      bottom: 200px;
   }
}
