.btn {
   padding: 20px 35px;
   background-color: var(--blue);
   border: none;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: var(--textLight);
   cursor: pointer;
   &:hover {
      transition: box-shadow 0.3s;
      box-shadow: 0 0 40px 6px rgba(64, 119, 243, 0.3);
   }
}

@media (max-width: 1050px) {
   .btn {
      width: 100%;
      padding: 19px 17px;
      &:hover {
         box-shadow: none;
      }
   }
}

@media (max-width: 420px) {
   .btn {
      font-size: 15px;
      padding: 19px 10px;
   }
}

@media (max-width: 370px) {
   .btn {
      font-size: 13px;
      padding: 19px 10px;
   }
}
