//========================================
//        ALL DECLARE VARIABLE
//========================================
:root {
   //color
   --lightText: #e4e5ea;
   --white: #fff;
   --black: #0e1014;
   --blue: #4077f3;
   --darkGrey: #656566;
   --lightStroke: #25262c;
   --purple: #833ab4;
   --red: #fd1d1d;
   --orange: #fcb045;
   --gradient: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
}
